<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JustCaves</title>
    <link rel="stylesheet" type="text/css" href="public/styles/main.css" />
    <link rel="stylesheet" type="text/css" href="public/styles/login.css" />
  </head>
  <body>
    <header>
      <div class="header-spacer"></div>
      <div class="main-header">
        <svg
          width="35"
          height="28"
          viewBox="0 0 40 33"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.76 7.77563L32.3866 28.875H7.13336L19.76 7.77563ZM19.76 0L0 33H39.52L19.76 0Z"
            fill="#17CF17"
          />
        </svg>
        <h1>JustCaves</h1>
      </div>
      <div>
        <div class="log-in">
          <a href="login" class="login-link-btn">Dodaj jaskinię</a>
        </div>
        <div class="log-in">
          <a href="login" class="login-link-btn">Mój profil</a>
        </div>
      </div>
    </header>
    <div class="container"></div>
  </body>
</html>
