:root {
  --primary-green: #17cf17;
  --bg-dark: #0a0f0b;
  --sidebar-bg: #0e140f;
  --card-bg: #0f0f0f6e;
  --border-color: rgba(255, 255, 255, 0.1);
  --text-dim: #a0a0a0;
  --thead-bg: #1a321a;
  --btn-bg: #244724;
  --table-border: #346534;
}

.admin-body {
  background: var(--bg-dark);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  overflow: hidden;
}

.dashboard-wrapper {
  display: flex;
}

.sidebar {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  margin-left: 0.5em;
  height: 85vh;
}

.nav-container {
  max-width: none;
  width: 100%;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  margin-bottom: 8px;
}

.sidebar-nav > ul > li > a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  text-decoration: none;
  color: #a0a0a0;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.sidebar-nav a svg {
  fill: #f3f3f3;
}

.sidebar-nav li.active a svg,
.sidebar-nav a:hover svg {
  fill: #17cf17;
}

.admin-profile {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 3rem;
}

.avatar img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid var(--primary-green);
}

.admin-name {
  display: block;
  font-weight: bold;
  font-size: 0.95rem;
}
.admin-role {
  font-size: 0.75rem;
  color: var(--text-dim);
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
}
.sidebar-nav li {
  margin-bottom: 0.5rem;
}

.sidebar-nav a {
  color: var(--text-dim);
  text-decoration: none;
  padding: 0.8rem 1rem;
  display: block;
  border-radius: 8px;
  transition: 0.3s;
}

.sidebar-nav li.active a,
.sidebar-nav a:hover {
  background: rgba(23, 207, 23, 0.1);
  color: var(--primary-green);
}

.btn-logout-big {
  width: 100%;
  background: var(--primary-green);
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.main-content {
  margin-left: 1em;
  flex: 1;
  padding: 3rem;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.content-header h1 {
  font-size: 2rem;
  margin: 0;
}
.content-header p {
  color: var(--text-dim);
  margin: 5px 0 0;
}

.filters-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.search-box {
  background: var(--btn-bg);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  width: 400px;
}

.search-box input {
  background: none;
  border: none;
  color: #93c893;
  padding: 0.8rem;
  width: 100%;
  outline: none;
}

.search-icon {
  width: 20px;
  fill: var(--text-dim);
}

.select-group select {
  background: var(--btn-bg);
  color: white;
  border: 1px solid var(--border-color);
  padding: 0.8rem;
  border-radius: 8px;
  margin-left: 10px;
}

.table-container {
  background: var(--card-bg);
  border-radius: 12px;
  border: 1px solid var(--table-border);
}

table {
  width: 100%;
  border-spacing: 0;

  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
}

thead {
  background: var(--thead-bg);
}

thead > tr > th {
  color: white;
  text-transform: none;
}

th {
  text-align: left;
  padding: 1.2rem;
  font-size: 0.8rem;
  color: var(--text-dim);
  text-transform: uppercase;
  border-bottom: 1px solid var(--table-border);
}

td {
  padding: 1.2rem;
  border-bottom: 1px solid var(--table-border);
  font-size: 0.9rem;
  color: var(--inputs-bg);
}

.cave-name {
  color: white;
  font-weight: 600;
}

tr:hover {
  background: rgba(255, 255, 255, 0.02);
}

.status-badge {
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  font-size: 0.75rem;
  font-weight: bold;
}

.status-approved {
  background: rgba(23, 207, 23, 0.2);
  color: #87ff87;
}
.status-pending {
  background: rgba(243, 156, 18, 0.2);
  color: #ffca7a;
}
.status-rejected {
  background: rgba(255, 68, 68, 0.2);
  color: #ff9d9d;
}

table thead th:nth-child(4) {
  text-align: center;
  padding: 0.5rem;
}

table tbody td:nth-child(4) {
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem;
}

table tbody td:nth-child(3),
table thead th:nth-child(3) {
  padding: 0;
}

.actions-cell {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: 100px;
}

.action-btn {
  background: none;
  border: none;
  color: var(--text-dim);
  cursor: pointer;
  transition: 0.3s;
}
.action-btn:hover {
  color: white;
}
.action-btn.delete:hover {
  color: #ff4444;
}

.actions-cell .action-btn,
.actions-cell form {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}

.actions-cell form {
  margin-bottom: 0;
}

.actions-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.actions-wrapper > form {
  margin: 0;
  padding: 0;
}

.table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  color: var(--text-dim);
  font-size: 0.85rem;
}

.page-btn {
  background: var(--btn-bg);
  border: 1px solid var(--border-color);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 5px;
}

.page-btn:hover {
  background: #31af31ad;
}

.pagination > a {
  text-decoration: none;
}

.page-btn.active {
  background: var(--primary-green);
  color: black;
  border-color: var(--primary-green);
}

@media screen and (max-width: 1350px) {
  .admin-body {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .sidebar {
    display: none;
  }

  .main-content {
    width: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
  }

  .content-header h1 {
    font-size: 1.5rem;
  }

  .filters-bar {
    flex-direction: column;
    gap: 15px;
  }

  .search-box {
    width: 100%;
    box-sizing: border-box;
  }

  .select-group {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .select-group select {
    margin-left: 0;
    width: 100%;
  }

  .table-container {
    background: none;
    border: none;
    margin-top: 1rem;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    width: 100%;
  }

  thead tr {
    display: none;
  }

  tr {
    background: #121812;
    border: 1px solid var(--table-border);
    border-radius: 15px;
    margin-bottom: 1.5rem;
    padding: 1.2rem;
    box-sizing: border-box;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }

  td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    text-align: right;
  }

  td:last-child {
    border-bottom: none;
    justify-content: center;
    padding-top: 1.5rem !important;
    gap: 20px;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    color: var(--primary-green);
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 1px;
    text-align: left;
  }

  .table-footer {
    flex-direction: column;
    gap: 1.5rem;
    background: #121812;
    padding: 1.5rem;
    border-radius: 15px;
    text-align: center;
  }

  .pagination {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .page-btn {
    font-size: 1.05rem;
    padding: 1em 0.5em;
  }

  td::before {
    content: attr(data-label);
    flex-shrink: 0;
    margin-right: 20px;
    font-weight: bold;
    color: var(--primary-green);
    text-transform: uppercase;
    font-size: 0.75rem;
  }

  .actions-cell {
    display: flex;
    justify-content: space-around !important;
  }
}
